# Бинарные файлы
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/tmp/

# Покрытие
coverage/

# Рабочая область Go
go.work
go.work.sum

# Редакторы
.idea/
.vscode/
*.swp
*.swo

# Операционная система
.DS_Store
Thumbs.db

# Docker
.env
